/* src/components/SwipeableCard.css */
.swipeableCard {
  position: absolute;
  width: 300px;
  max-width: 85vw;
  height: 400px;
  cursor: grab;
  user-select: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
}
